<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myfortuneservice" class="com.udemy.cousedemo.springboot.HappyFortuneService"></bean>
    <bean id="mycoach" class="com.udemy.cousedemo.springboot.footballCoach" >
<!--        <constructor-arg ref="myfortuneservice"/>  constructor injection config-->
        <property name="FortuneService" ref="myfortuneservice"/>
        <property name="emailadress" value="rida.benjadi@mail.com"/>
        <property name="team" value="smart transformation"/>
   </bean>

</beans>
